@model List<Student>


<table class="table table-bordered table-hover" width="50%">
    <tr>
        <th>
            Student Name
        </th>
        <th>
            Student ID
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.ID</td>
        </tr>
    }
</table>
